.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #343148;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #D7C49E;
}

.App-link {
  color: #D7C49E;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fadeinout{
  animation: fadeinout 3s ease-in-out;
}

.fadein{
  animation: fadein 2s ease-in-out;
}

@keyframes fadeinout{
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadein{
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background: #D7C49E;
  color: #343148;
  animation: navanime 2s ease-in;
}

@keyframes navanime{
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  50% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.main {
  padding-top: 100px;
}

.contents {
  display: flex;
  width: 96%;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.ul {
  display: flex;
  list-style: none;
}

.li{
  margin-left: 30px;
}